<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>764B81581DD4F8A700850CDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>764B816F1DD4F8A800850CDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>764B817A1DD4F8A800850CDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
