<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1086046043339-45jbb89gtvi1k16bv95o0knrth7io19p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086046043339-45jbb89gtvi1k16bv95o0knrth7io19p</string>
	<key>API_KEY</key>
	<string>AIzaSyBE4lUz-AjIU4wO6o0j0mhHFv5htdB1fgM</string>
	<key>GCM_SENDER_ID</key>
	<string>1086046043339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ScoutApp.SCOUT</string>
	<key>PROJECT_ID</key>
	<string>scout-c335b</string>
	<key>STORAGE_BUCKET</key>
	<string>scout-c335b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086046043339:ios:660f1f94ecbb85fd</string>
	<key>DATABASE_URL</key>
	<string>https://scout-c335b.firebaseio.com</string>
</dict>
</plist>